version: '3.8'

services:
  strepsuis-analyzer:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: strepsuis-analyzer
    ports:
      - "8501:8501"
    volumes:
      - ./data:/app/data
      - ./results:/app/results
    environment:
      - STREAMLIT_SERVER_PORT=8501
      - STREAMLIT_SERVER_ADDRESS=0.0.0.0
    restart: unless-stopped
